.Dlogo {
	position: absolute;
	left: 10px;
	top: 0;
	z-index: 9999;
}
.sidebar {
	padding: 50px 0 0 0;
}
.sidebar-toggle {
	background: url(../images/menuIcon_sprite.png) no-repeat 3px -236px!important;
	margin: 10px;
}
.sidebar-menu li a {
	font-size: 16px;
	height: 40px;
}
.sidebar-menu li a i {
	float: left;
	height: 13px;
	width: 35px;
	margin-top: 5px;
}
.sidebar-menu li a i.Dash {
	background: url(../images/menuIcon_sprite.png) no-repeat 0 0;
}
.sidebar-menu li a i.Helpdesk {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -17px;
	height: 17px;
	margin-top: 5px;
}
.sidebar-menu li a i.Event {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -34px;
	height: 20px;
	margin-top: 3px;
	 
}
.sidebar-menu li a i.Trainings {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -54px;
	height: 20px;
	margin-top: 3px;
	 
}
.sidebar-menu li a i.Recognizing {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -75px;
	height: 20px;
	margin-top: 3px;
	 
}
.sidebar-menu li a i.People {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -97px;
	height: 20px;
	margin-top: 3px;
	 
}
.sidebar-menu li a i.Product {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -119px;
	height: 20px;
	margin-top: 3px;
	 
}
.sidebar-menu li a i.Announcemnets {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -145px;
	height: 25px;
	margin-top: 3px;
	 
}
.sidebar-menu li a i.Surveys {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -171px;
	height: 25px;
	margin-top: 3px;
	 
}
.sidebar-menu li a i.Bookmarks {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -194px;
	height: 25px;
	margin-top: 0px;
	 
}

.sidebar-menu li a i.Contact {
	background: rgba(0, 0, 0, 0) url("../images/menuIcon_sprite.png") no-repeat scroll 0 -219px;
	height: 20px;
	margin-top: 3px;
	 
}
.bcontaner{
	width:100%;
	/*border-top:2px solid #ccc;*/
	padding:10px 0 0 0;
	float:left;
	margin:10px 0 0 0;
}
.profi_pic{
	/*border:1px solid #ccc;*/
	padding:3px;
	margin:0 10px 10px 0;
}
.charm_hedding{
	font-size:22px;
	 
	color:#006cb4;
}
.product_row{
	 
	overflow:hidden;
	width:100%;
	border-top:1px solid #ccc;
	padding:10px 0 0 0;
	margin:0 0 5px 0 ;
}
.product_row:first-child{
	border:none;
}
.wid100{
	width:100%;
	float:left;
	
}
 @media (max-width:767px) {
.Dlogo {
	left: 38%;
}
}

img.profi_pic.num_plate_img {
    width: 100%;
    height: 50px;
}
img.profi_pic.qr_code_img {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.profi_pic.cam_live_feed {
    width: 100%;
}

/* Gauge Meter CSS*/
.GaugeMeter {
    position: Relative;
    text-align: Center;
    overflow: Hidden;
    cursor: Default;
    display: inline-block;
    margin-left: 0px;
    /* background: #272e38; */
    /*background-color: rgba(255,255,255,.06);*/
}
#PreviewGaugeMeter_2 SPAN, #PreviewGaugeMeter_2 b {
    width: 100% !important;
    margin: 0 !important;
}
.GaugeMeter SPAN, .GaugeMeter B {
    width: 54%;
    position: Absolute;
    text-align: Center;
    display: Inline-Block;
    color: RGBa(0,0,0,.8);
    font-weight: 100;
    font-family: "Open Sans", Arial;
    overflow: Hidden;
    white-space: NoWrap;
    text-overflow: Ellipsis;
    /* margin: 0 23%; */
    margin-left: -15px;
}
#PreviewGaugeMeter_2 SPAN, #PreviewGaugeMeter_2 b {
    width: 100% !important;
    margin: 0 !important;
}
div#PreviewGaugeMeter_2 {
    height: 190px;
    /*width: 190px !important;*/
}
.GaugeMeter B {
    color: #000;
    font-weight: 200;
    opacity: .8;
}
.GaugeMeter S, .GaugeMeter U {
    text-decoration: None;
    font-size: .60em;
    font-weight: 200;
    opacity: .6;
}
/*End of gauge meter CSS*/
img.profi_pic.wind_img{
    width: 100%;
}
img.profi_pic.temp_img{
    width: 100%;
}
img.profi_pic.humid_img {
    width: 100%;
}
img.profi_pic.car_img {    
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p#vehicle_count {
    text-align: -webkit-center;
    font-size: 20px;
    font-weight: 600;
}
p#temp_data {
    text-align: -webkit-center;
    font-size: 20px;
    font-weight: 600;
}
p#humid_data {
    text-align: -webkit-center;
    font-size: 20px;
    font-weight: 600;
}
p#wind_data {
    text-align: -webkit-center;
    font-size: 20px;
    font-weight: 600;
}

/* Maps css*/
div#map_inner svg {
    width: 70% !important;
    height: auto;
}
div#map {
    height: 300px;
    width: 100%;
}
table#alpr_data_tbl {
    background: #311a4887;
}
table#alpr_data_tbl tr{
	background:#321b49;	
}
table#alpr_data_tbl tr:nth-child(even) {
    background: #ffffff38;
}
table#alpr_data_tbl tr:nth-child(odd) {
    background: #321b49;
}

table#alpr_data_tbl tbody tr td{
	background: #311a4887;	
}
img.profi_pic.veh_img {
    width: 100%;
}
img.profi_pic.alpr_img {
    width: 100%;
}
img.profi_pic.crop_img {
    width: 100%;
}
img.profi_pic.zoom_img {
    width: 100%;
}
/* Data table pagination button css */
a#alpr_data_tbl_previous {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #d9534f;
    color: white !important;
}
a.paginate_button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #d9534f;
    color: white !important;
}
a.paginate_button.current {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent !important;
    border-radius: 4px;
    background: white !important;
    color: white !important;
}
div#alpr_data_tbl_info {
    color: white;
}
.dataTables_length select {
    color: black;
}
div#alpr_data_tbl_length {
    color: white;
}
input[type="search"] {
    width: 100%;
    padding: 7px 4px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Model Window for Cam Live Feed */
.modal-content {
    background: #262f40;
}
.btn-default {
    color: white;
    background-color: #d9534f;
    border-color: #d9534f;
}
#map text {
    display: none;
}
div#map_inner>div>svg {
    display: none !important;
}
/* Gauge meter css */
canvas#veh_count_meter {
    width: 100% !important;
    height: auto !important;
}
canvas#temp_meter {
    width: 100% !important;
    height: auto !important;
}
.blue-box {
/*    background: rgb(28, 155, 161);

    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 59%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(59%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 59%, rgba(73,165,191,1) 100%);
    background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 59%, rgba(73,165,191,1) 100%);
    background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 59%, rgba(73,165,191,1) 100%);
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 59%, rgba(73,165,191,1) 100%);
*/
    /*background-image: url('/static/images/anpr-bg2.jpg');*/
    /*border-top-color: #00a65a;*/
    /*border-top: 3px solid #d2d6de;*/
}
div#alpr_data_tbl_length {
    display: none;
}
div#alpr_data_tbl_filter {
    display: none;
}
/* Data table css */
table#alpr_data_tbl {
    display: block;
    height: 300px;
    overflow-y: scroll;
}
div#alpr_data_tbl_paginate {
    display: none;
}
div#alpr_data_tbl_info {
    display: none;
}
input#singleDateRange {
    color: black;
}
.dt__calendar_m_d {
    color: black;
}
input#singleDateRange {
    margin-right: 10px;
}
table#alpr_data_tbl thead tr th {
    width: 100px !important;
}
table#alpr_data_tbl thead {
    /*display: block;*/
    top: 0;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
}
table#alpr_data_tbl tbody tr td {
    /*width: 110px !important;*/
}
div#myclock canvas {
    width: 100% !important;
}
.myclock_box {
    background: #311a4887;
    /*background: rgba(202,216,192,1);
    background: -moz-linear-gradient(left, rgba(202,216,192,1) 0%, rgba(61,117,16,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(202,216,192,1)), color-stop(100%, rgba(61,117,16,1)));
    background: -webkit-linear-gradient(left, rgba(202,216,192,1) 0%, rgba(61,117,16,1) 100%);
    background: -o-linear-gradient(left, rgba(202,216,192,1) 0%, rgba(61,117,16,1) 100%);
    background: -ms-linear-gradient(left, rgba(202,216,192,1) 0%, rgba(61,117,16,1) 100%);
    background: linear-gradient(to right, rgba(202,216,192,1) 0%, rgba(61,117,16,1) 100%);*/
}
.off { pointer-events: none; }
td.dataTables_empty {
    display: none;
}
input#anaFromDate {
    color: black;
}
input#anaToDate {
    color: black;
}