<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Multiple Markers from JSON</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
  <div id="map"></div>

  <div class="notification">
  	This is a live demo for the article <a href=" http://www.svennerberg.com/2012/03/adding-multiple-markers-to-google-maps-from-json">Adding Multiple Markers to Google Maps from JSON</a>, published on <a href="http://www.svennerberg.com/">In usability we trust</a>.
  </div>

  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCAWXD0g0fbXbEkEmGP8_tJDDPtYt8S4DE&sensor=false"></script>
  <script src="js/map.js"></script>

</body>
</html>